@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root {
  --mainRed: #e53729;
  --mainOrange: #fb9946;
  --mainPurple: #c24cd4;
  --lightPurple: #8a039f;
  --mainBlue: #0db0dd;
  --mainGreen: #17a858;
  --lightGreen: #4fbd81;
  --mainBrown: #663333;
  --mainWhite: #fff;
  --mainBlack: #000;
  --mainGray: #f8f8f8;
  --mainFont: 'Roboto', sans-serif;
  --auxFont: 'Ubuntu', sans-serif;
  --textColor: #595959;
}

#root {
  background: var(--mainGray);
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--mainFont);
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 80px;
}

.height {
  height: calc(100vh - 80px);
}
